

body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f3f3f3;
        overflow: hidden;
      }
  
      


.lp-wrapper{
    display: flex;
    height: 500px;
}

img.player{
    position: absolute;
    width: 600px;
    z-index: 0;
    top:30px;
}


    .container {
        position: relative;
        width: 400px; height: 400px;
        background-color: rgba(0, 0, 0, 0.6);
        top : 50px; left: 35px;
        border-radius: 50%;
        border: 4px solid #000000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 4;
      }
  


    img.lp {
        width: 200px;
        height: 200px;
        position: absolute;
        top : 160px; left: 140px;
        animation: none; /* 초기에는 회전 애니메이션 없음 */
        z-index: 6;
      }

    img.pin {
        width: 270px;
        position: absolute;
        top:20px; right: 100px;

        cursor: grab;
        user-select: none;
        transition: transform 0.2s ease;
        z-index: 30;
    }
  
    .pin:active {
        cursor: grabbing;
      }
  

  
img.lp.rotating {
        animation: spin 2s linear infinite; /* 회전 애니메이션 */
      }
  
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
}
  
    .drop-zone {
        position: absolute;
        top: 250px;
        left: 240px;
        transform: translate(-50%, -50%);
        width: 410px;
        height:410px;
        border-radius: 50%;
        border: 2px solid #888;
        z-index: 20;
      }
  
    .drop-zone.active {
        border-color: #ffffff;
      }